table {
  width: 100%;
}

i.edit {
  color: #a6e76c;;
  margin-right: 1rem;
}

i.delete {
  color: #ec7592;
  margin-right: 1rem;
}

.mat-table {
  background: #59a1a5;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  font-size: 1rem;
}