@import "../../../../styles.scss";

mat-toolbar {
  background: #90a77c;
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
}

.header a {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: #FFF;
}

.header a img {
  font-size: 2rem;
  margin: 0 0 0 1rem;
}

.header .logo {
  max-height: 2rem;
}

.title-group {
  padding-left: 4rem;
}

.title-group i {
  margin: 0 0.3rem 0.3rem 0.3rem;
  vertical-align: middle;
}
