@import "../../../../styles.scss";

mat-toolbar {
  background: #f19d5d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 64px;
}

span {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: 200;
}

strong {
  font-weight: 500;
}

i {
  vertical-align: middle;
}
