.side-nav {
  background-color: #e3e4ce;
  top: 12%;
  bottom: 8%;
}

.side-nav a {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: #59a1a5;
}

.side-nav i {
  padding: 0 0.5rem 0.4rem 0;
}

.content {
  padding: 1rem;
  background-color: white;
  color: black;
}
